

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family:'Montserrat', sans-serif;
    scroll-behavior: smooth;
} 
.containerr {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
    z-index: 1;

}

a{
    text-decoration: none;
}
.contaniner{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    width: auto;
}
body::-webkit-scrollbar{
    width: 10px;
    height: 0px;
    background: #181818;
}
body::-webkit-scrollbar-track{
    background: #181818;
     border-radius: 14px;
     border-radius: 10px;
}
body::-webkit-scrollbar-thumb{
 background:linear-gradient(rgba(0, 0, 0, 0.767),white,rgba(255, 0, 0, 0.685),rgba(0, 0, 0, 0.767));
 height:18px ;
 border-radius: 4px;
}  
/* Header Section */
#header{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    transition: 0.3s;
  }
  .brand{
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 2.1rem;
    letter-spacing: .1rem;
    text-decoration: none;
    cursor: pointer;
    padding-left: 20px;
    font-weight:550;
    z-index: 1;
  }
  .brand span{
    color: salmon;
  }
  #toggle{
    position: absolute;
    top: 0;
    right: 0%;
    width: 48px;
    height: 48px;
    background: #9165ddb2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #toggle:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: .2s;
  }
  #toggle:after{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #fff;
    transform: translateY(5px) ;
    transition: .2s;
  }
  #toggle.active{
    background: salmon;
  }
  #toggle.active:before{
    transform:translateY(0) rotate(45deg);
  }
  #toggle.active:after{
    transform:translateY(0) rotate(-45deg);
  }
  
  #navbar{
    position: relative;
    height: 50px;
    top: 0;
    right:60px ;
    background: transparent;
    transition: 0.5s;
    width: 0px;
    overflow: hidden;
    }
    #navbar.active{
     width: 90%;
    }
    #navbar ul{
      height: 100vh;
      width: 100vw;
      background:transparent;
      display: flex;
      position: relative;
    }
    #navbar ul li{
      list-style: none;
    }
    #navbar ul li a{
      color: white;
      display: inline-block;
      height: 50px;
      text-decoration: none;
      font-size: 1.8rem;
      padding: 0 23px ;
      line-height: 50px;
      letter-spacing: .1rem;
    }
    #navbar ul li a:hover{
      background: rgb(92, 90, 90);
      color:#fff;
    }

    #header.sticky{
        padding: 25px 10px;
        background: rgba(0, 0, 0, 0.808);
    }
/* End Header Section */
/* Hero Section */
#hero {
    background-image: url(images/mj.jpeg);
    background-position:80% 10%;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: -1;
}
#hero:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.2) ;
    z-index: -1;
    filter: contrast(100%) ;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 110px 40px;
    justify-content: flex-start;
    align-items: flex-end;
     
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 3.8rem;
    position: relative;
    color:transparent; 
    animation: sample2 1s ease forwards ;
    animation-delay: 1.5s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
    
}

#hero h1:nth-child(2){
    animation-delay: 2s;
}

#hero h1:nth-child(3){
    animation: text_color .5s ease forwards;
    animation-delay: 3s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: salmon;
    animation: sample 1s ease ;
    animation-delay: 1s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
    
}

#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
    background: rgb(190, 55, 55);
}
#hero .btn{
    display: inline-block;
    padding: 11px 29px;
    color:white;
    background: #e74c3c;
    border: 1px solid  white;
    border-radius: 1px 10px 1px 10px;
    font-size: 1.7rem;
    margin-top: 23px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1rem;  
    transition:.3s ease-in-out ;
    box-shadow: 0 6px 6px -5px #333;
    transition-property: background-color,color; 
}
#hero .btn:hover{
    color:white;
    background: #c0392b;   
}
.section-title{
    font-size: 2.8rem;
    color: rgba(0, 0, 0, 0.877);
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    width: 80%;
    justify-content: center;
    margin:5px auto;
    padding: 10px;
    text-shadow: 3px 2px 0px #fff,4px 2px 0px rgba(0,0,0,0.25);
    transition:all 0.5s;
}
.section-title:hover{
    text-shadow:3px 3px white,6px 6px rgba(0,0,0,0.25),9px 9px 15px rgba(0,0,0,0.95);

}
.section-title span{
    color: crimson;
}
/* End Hero Section */


/* service Section */
  #services .services{
      flex-direction: column;
      text-align: center;
      max-width: 1500px;
      margin: 0 auto;
      padding: 100px 0 50px 0;
  }
  
  #services .services-top p{
      font-size: 1.4rem;
      margin-top: 15px;
      line-height: 2.5rem;
      font-weight: 500;
      letter-spacing: .05rem;
      text-align: center;

  }
  #services .services-bottom{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 30px;
  }
  #services .services-item{
      flex-basis: 80%;
      min-height: 250px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
      border-radius: 10px;
      background-image: url(images/pexels-photo.jpeg);
       background-position:center left;
      background-size:cover;
      margin: 10px 0;
      position: relative;
     z-index: -1;
     overflow: hidden;
     }
  #services .services-item:after{
      content: '';
     position: absolute;
     left: 0;
     top: 0;
     background-image:linear-gradient(190deg,#29323c 10%,#485563 100% ,#bbb 100% ) ;
     height: 100%;
     width: 100%;
     opacity: .7;
     z-index: -1;
    
  }
  #services .icons{
      width: 80px;
      margin-bottom: 16px;
      margin-left: 5px;
  }
 img{
      width: 100%;
      height: 100% ;
      object-fit: cover;
  }
  #services .services-item  h2{
      color: white;
      padding-bottom: 5px;
      border-bottom: 1px solid #f1f1f1f1;
      text-transform: uppercase;
      line-height: 1.9rem;
      cursor: pointer;
  }
  #services .services-item a{
      text-decoration: none;
      color: white;
  }
  #services .services-item a:hover{
      color: #72869b;
  }
  #services .services-item p{
      color: white;
      padding-top: 5px;
      font-size: 1.1rem;
      text-align: justify;
      font-family:Verdana;
  }

/* End service Section */

/*  project Section */
   #projects .projects{
       flex-direction: column;
       max-width: 1500px;
       margin: 0 auto;
       padding: 100px 0;
    }
   #projects .project-header h1{
       margin-bottom: 50px;
   }
   #projects .all-projects{
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
   }
   #projects  .project-items{
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       width: 80%;
       margin:20px auto ;
       overflow: hidden;
       border-radius: 10px;
   }
   #projects .project-info{
       padding: 20px;
       flex-basis: 50%;
       height: 100%;
       display: flex;
       align-items: flex-start;
       justify-content: center;
       flex-direction: column;
       background-image: linear-gradient(60deg, #29323c 0%,#485563 80%);
        color: white;
        border-bottom:1px dashed red ;
    }
    #projects .project-info h1{
        font-size: 4rem;
        font-weight: 500;
        padding-bottom: 5px;
        border-bottom: 1px solid white;
    }
    #projects .project-info a{
        text-decoration: none;
        color: white;
    }
    #projects .project-info a:active{
        color: red;
    }
    #projects .project-info h2{
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    #projects .project-info p{
       font-size: 1.1rem;
       font-weight: 10;
    }
    #projects .project-img{
        flex-basis: 50%;
        overflow: hidden;
        height: 300px; 
        position: relative;  
       filter: blur(1px);
    }
    #projects .project-img img{
        transition: all .2s ease-in;
    }
    #projects .project-img:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(60deg, #29323c 0%,#485563 80%);
       opacity: .2;
    }
    #projects .project-img:hover img{
        transform: scale(1.1);
    }
/* End project Section */

/* about Section */
#about .about{
    text-align: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px  0px;
}
#about .col-right{
    width: 100%;
}
#about .col-right h2{
    margin: 5px ;
    font-size: 1.5rem;
    font-weight: 510;
     letter-spacing: .2rem;
     text-align: center;
}
#about .col-right p{
    margin:10px ;
    text-align: center;
    line-height: 20px;
    letter-spacing: .1rem;
    font-size: 1.2rem;
}
#about .btn{
    display: inline-block;
    padding: 8px 15px;
    color:rgb(201, 151, 251);
    background: transparent;
    border: 1px solid  black;
    font-size: 1.8rem;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;  
    transition: .3s ease ;
    transition-property: background-color,color ; 
}
#about .btn:hover{
    color:white;
    background: rgb(201, 51, 51);
    box-shadow: 2px 2px 3px black ;     
}
#about .col-left{
    width: 200px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}
#about .col-left:after{
    content: '';
    height: 95%;
    width: 95%;
    position: absolute;
    left: -22%;
    top: 13%;
    border: 7px solid rgb(201, 51, 51);
    z-index: -1;
    box-shadow: 2px 2px 8px rgb(46, 45, 45);
}
#about .col-left .about-img{
   height: 100%;
   width: 100%;
   position: relative; 
   transform: scale(1)
}
#about .about-img{
    transition: .3s ease transform;  
    border: 4px solid white;
}
#about .about-img img{
    transition: .3s ease transform; 
    
}
#about .about-img:hover {
    transform: scale(1.1) ;
}


/* End about Section */

/* Contect Section */
#contect .contect{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contect .contect-items{
    width: 230px;
    justify-content: center;
    margin: 5px auto;
}
#contect .contect-item{
    width: 100%;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 rgba(85, 83, 83, 0.24);
    transition: .2s ease box-shadow;
    
}
#contect .contect-icon{
    width: 80px;
    padding: 10px ;
   margin: 0px auto;
   margin-bottom: 10px;
}
#contect .contect-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-bottom: 5px;
}

#contect .contect-info h2{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .1rem;
    line-height: 20px;
}
#contect .contect-item:hover{
    box-shadow: 0px 0px 10px 0  rgba(54, 53, 53, 0.562);
   
}
/*End Contect Section */
/*Footer Section*/
#footer .footer{
    flex-direction: column;
    min-height: 190px;
    margin: auto;
    padding: 30px 10px;
    background: rgba(3, 26, 32, 0.925);
}
.brand1 h1{
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: .1rem;
    font-weight: 510;
    color: white;
    text-transform: uppercase;
}
.brand1 h1 span{
    color: rgba(37, 172, 10, 0.918);
}
#footer .brand1 h2{
    font-size: 1.7rem;
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    color: white;
}
#footer .soical-items{
    display: flex;
    padding: 10px ;
    flex-direction: row;
    justify-content: center;
}
#footer .social-icon{
    width: 45px;
    height: 50px;
    color: black;
    margin-right: 5px;
}
/*End Footer Section*/

/*@keyframes*/
@keyframes sample{
    50%{
        width: 100%;
        left: 0;
    }
    
    100%{
        left: 100%;
        width: 0;
    }
}
@keyframes sample2{    
    100%{
        color: white;
    }
}
@keyframes text_color{
    100%{
        color: 	#ffbf00;
        font-weight:500px;
    }
}

/*End @keyframes*//* @media queries for desktop*/

@media only screen and (min-width:1200px) {
    header {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        z-index: 1;
    }
    .brand {
        height: 50px;
        line-height: 50px;
        font-size: 2.7rem;
        padding-left: 20px;
        font-weight: 550;
        z-index: 1;
    }
    #navbar.active {
        width: 50%;
    }
    #navbar ul li a:hover {
        border-bottom: 4px solid skyblue;
    }
    /*hero section*/
    #hero {
        filter: drop-shadow( 5px 7px 26px black);
    }
    /* end Hero Section */
    /*services Section*/
    #services .services-item {
        flex-basis: 20%;
        margin: 1.5%;
    }
    #services .services-item h2 {
        text-align: left;
        margin-left: 0px;
    }
    #services .services-item p {
        font-size: 1.1rem;
        margin-top: 5px;
        text-align: justify;
        font-weight: 100;
    }
    /*end services Section*/
    /* project */
    #projects .project-items:nth-child(even) {
        flex-direction: row-reverse;
    }
    #projects .project-items {
        flex-direction: row;
        height: 250px;
        margin: 0;
        width: 60%;
        border-radius: 0;
    }
    #projects .all-projects .project-info {
        height: 100%;
    }
    #projects .all-projects .project-img {
        height: 100%;
    }
    /*End Project*/
    /* about Section */
    #about .about {
        max-width: 1100px;
    }
    /* End about Section */
    /* Contect */
    #contect .contect-items {
        display: flex;
        flex-direction: row;
        width: 40%;
        padding: 20px 5px;
        margin: 0px auto;
    }
    #contect .contect-item {
        margin: 20px;
        flex-direction: row;
    }
    #contect .contect-item .contect-icon {
        width: 100px;
    }
    #contect .contect-icon .contect-item img {
        width: 100%;
    }
    #contect .contect-info h1,
    h2 {
        width: 100%;
        text-align: left;
        padding-left: 10px;
        margin-right: 50px;
    }
    
}

/*End @media queries* for desktop */


/*@media queries* for teblets */

@media (min-width:700px) and (max-width:1200px) {
    /*header section*/
    #navbar.active {
        width: 64%;
    }
    #navbar ul {
        justify-content: start;
    }
    #navbar ul li a {
        color: white;
        display: inline-block;
        height: 55px;
        text-decoration: none;
        font-size: 1.6rem;
        padding: 0 10px;
        margin: 0;
        line-height: 50px;
        letter-spacing: .1rem;
    }
    #navbar ul li a:hover {
        border-bottom: 7px solid rgba(221, 0, 220, 1);
        border-radius: 3px;
        transition: 0.1s;
    }
    .brand {
        width: auto;
        font-size: 2.7rem;
        letter-spacing: .1rem;
        padding-left: 20px;
        font-weight: 550;
        margin-right: 0;
    }
    .brand span {
        color: salmon;
    }
    #hero {
        filter: drop-shadow( 5px 7px 26px black);
    }
    /*end header section*/
    #services .services-item {
        flex-basis: 35%;
        margin: 1.5%;
    }
    #services .services-item h2 {
        text-align: left;
        margin-left: 0px;
    }
    #services .services-item p {
        font-size: 1.1rem;
        margin-top: 5px;
        text-align: justify;
        font-weight: 100;
    }
    /* project */
    #projects .project-items:nth-child(even) {
        flex-direction: row-reverse;
    }
    #projects .project-items {
        flex-direction: row;
        height: 250px;
        margin: 0;
        width: 60%;
        border-radius: 0;
    }
    /*End Project*/
    /* Contect */
    #contect .contect-items {
        display: flex;
        flex-direction: row;
        padding: 20px 5px;
    }
    #contect .contect-item {
        height: 200px;
        min-width: 210px;
        margin: 10px;
        flex-direction: column;
    }
    #contect .contect-icon {
        width: 100px;
        padding: 5px;
        margin-top: 0px;
    }
    #contect .contect-item img {
        width: 60px;
        object-fit: cover;
    }
    /*bubble quearies start*/
}


/*end bubble quearies*/


/* End @media queries* for teblets */


/*@media queries* for other */

@media (min-width:500px) and (max-width:700px) {
    #services .services-item {
        flex-basis: 45%;
        margin: 1.5%;
    }
    /* project */
    #projects .project-items:nth-child(even) {
        flex-direction: row-reverse;
    }
    #projects .project-items {
        flex-direction: row;
        height: 230px;
        min-width: 380px;
        margin: 0;
        width: 60%;
        border-radius: 0;
    }
    #projects .all-projects .project-info {
        height: 100%;
    }
    #projects .all-projects .project-info h1 {
        font-size: 2.5rem;
    }
    #projects .all-projects .project-info h2 {
        font-size: 1.4rem;
    }
    #projects .all-projects .project-info p {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: .1rem;
    }
    #projects .all-projects .project-img {
        height: 100%;
        min-width: 150px;
    }
    /*End Project*/
    /* Contect */
    #contect .contect-items {
        display: flex;
        flex-direction: column;
        padding: 20px 5px;
    }
    #contect .contect-item {
        min-width: 180px;
        margin: 20px;
        flex-direction: column;
    }
    #contect .contect-icon {
        width: 100px;
        padding: 5px;
        margin-top: 0px;
    }
    #contect .contect-item img {
        width: 40px;
        object-fit: cover;
    }
}

@media (max-width:700px) {
    #navbar {
        position: fixed;
        top: 50px;
        right: -150%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
    #navbar.active {
        height: calc(100vh - 55px);
        width: 100vw;
        right: 0;
    }
    #navbar ul {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgb(0, 0, 0);
        z-index: 1;
    }
    #navbar ul li a {
        font-size: 2.4rem;
        margin-top: 25px;
    }
    #navbar ul a:after {
        content: attr(data-after);
        position: absolute;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: rgba(37, 37, 37, 0.863);
        font-size: 3.8rem;
        letter-spacing: .05rem;
        z-index: -1;
        text-align: center;
        transition: all .3s ease;
        text-shadow: 0px 10px 10px transparent;
    }
    #navbar ul li:hover a:after {
        transform: translate(-50%, -50%) scale(1.4);
    }
    #navbar ul li:hover a {
        text-shadow: 0px 0px 4px black;
        color: salmon;
    }
}


/* End @media queries* for other */
